:host {
  h2,h3,h4
  {
    padding:0;
    display: inline-block;
    color:var(--title-color, rgb(200,200,200));
  }
  select {
    display: flex;
    margin: 0 .5em;
  }
  label {
    display: inline-block;
  }
  .row {
    padding:0 1em;
  }
  .layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow:auto;
    .previvions,
    .selected {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        
      }
    }
  }
}
